/* Fonts settings */
@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova_reg';
    src: url('../fonts/ProximaNovaCond-Regular.eot');
    src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
        url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin reg {
  font-family: 'ProximaNova_reg';
}

@mixin bold {
  font-family: 'ProximaNova_bold';
}



/* Colors */
@btn-color: #fdb303;
@icon-color: #49bf15;
@bg-color: #f5f5f5;
@text: #292929;
@danger: #ff0000;
@border-input: #dddddd;
@problems-color: #989898;



/* Basic settings */

body {
	@include reg
}

html {
	font-style: 10px;
}
a:hover {
	text-decoration: none;
}
button, input, a {
	button, input, a:focus {
		outline: none;
	}
} 
.button {
	font-size: 1.2rem;
	padding: 1rem 3rem;
	border-radius: 8px;
	text-transform: uppercase;
	border:none;
	background-color: #fdb303;
	color: white;
	transition: all 0.2s;
}
.button:hover {
	cursor: pointer;
	background: darken(#fdb303, 5%);
}

/* Оформление форм */

.form {
	/* Поле для ввода */
	.form-input {
		margin-top: 0;
    	margin-bottom: 2rem;
		display: block;
		border: 1px solid #dddddd;
		width: 100%;
		height: 5rem;
		padding: 1.5rem;
		border-radius: 8px;
	}

	/* Подписис к полям */
	.main-form-label {
		position: absolute;
		display: inline-block;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 0.5rem;
		font-size: 1.3rem;
		background-color: white;
		}

	/* Кнопка формы */
	.form-btn {
		display: block;
		width: 100%;
		height: 6.5rem;
		font-size: 1.5rem;
		}
}

/* Typography */
section {
	padding: 10rem 0;
}
.section-header {
	h2 {
		@include bold;
		font-size: 3.6rem;
	}
	p {
		@include reg;
		font-size: 1.4rem;
	}
}
	.section-header_light {
		color: white;
	}


/* main */
.main {
	padding: 2rem  5rem;
	background-image: url(../img/font1.jpg);
	background-repeat:no-repeat;
	background-position: center center; 
	background-size: cover;
	@include bold;
	.main-content {
		margin-top: 10rem;
		
		/* Главный заголовок */
		h1{
			margin-top: 0;
			line-height: 6rem;
			@include bold;
			font-size: 4rem;
			text-transform: uppercase;
		}
	}
	/* Подзаголовок */
	.main-subtitle {
		margin-top: 5.8rem;
		font-size: 2.4rem;
	}
	/* Стоимость (зеленый ярлык) */
	span {
		text-align: center;
		margin-top: 3.5rem;
		display: inline-block;
		padding: 2.5rem 5.5rem;
		background-color: #49bf15;
		color: white;
		strong  {
			font-size: 3rem;
		}
	}
	/* Оплата по факту */
	.main-fact {
		font-size: 2rem;
		text-transform: uppercase;
		margin-top: 2.5rem;
	}

	/* Форма */
	.main-form {
		border: 1px solid #dddddd;
		text-align: center;
		padding: 5rem 5rem;
		background-color: white;
	
	 .form-header {
		font-size: 2rem;
		@include reg;
		margin-bottom: 4rem;
	} 
	
	/* Подпись под кнопкой */
	small {
		display: block;
		margin-top: 1.5rem;
		}
	}
	/* Подпись под формой со * */
	.star-text {
		margin-left: 3rem;
		margin-top: 3.8rem;
		display: inline-block;
		text-align: center;
	}
}
.header  {
	height: 7rem;
}
.phone-link {
	display: inline-block;
	@include bold;
	font-weight: 900;
	font-size: 2rem;
	height: 7rem;
	line-height: 7rem;
	color:#292929;
}
.wrap {
	display: table;
	width: 100%;
	height: 7rem;
	.wrap-block {
	text-align: right;
	display: table-cell;
	vertical-align: middle;	
	}
}

/* Оформление секции с преимуществами (Слайдер) */

.section-header {
	margin: 1.5rem 0;
	@include bold;
	font-size: 3.6rem;
	text-align: center;
	margin-bottom: 13rem;
}

.features {
	.features-block {
		text-align: center;
	}
	.features-img 	{
		height: 6rem;
	}
	img 			{
		display: block;
		margin: 0 auto;
	}
	h3 {
		font-size: 2rem;
		@include bold;
		font-weight: 900;
		margin-top: 5rem;
		margin-bottom: 3rem;
		}
	p {
		display: inline-block;
		width: 80%;
		font-size: 1.6rem;
		line-height: 2rem;
	}
}
.slick-active {
	outline: none;
}
.prev {
	top: 50%;
	transform: scaleY(-50%);
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	background:url(../img/left-arrow.svg) center no-repeat;
	background-size: 70%;
	left: 0;
}
.next {
	top: 50%;
	transform: scaleY(-50%);
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	background:url(../img/right-arrow.svg) center no-repeat;
	background-size: 70%;
	right: 0;
}

/* Секция с ценами */

.prices {
	background: #49bf15 url(../img/prices/prices-bg.jpg) center;
}
.prices-header-btn {
	margin-top: 2.3rem;
}
.price-button {
	text-align: right;
}
/* Оформление карточек  с тарифами */

.prices-block {
	padding: 1rem 3rem 4rem;
	min-height: 50rem;
	background-color: white;
	box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
	text-align: center;
	h4 {
		font-size: 1.9rem;
		@include bold;
		margin: 3rem 0;
	}
	img {
		width: 100%;
		max-width: 30rem;
		display: inline-block;
		margin-bottom: 2rem;
	}
	.prices-tag {
		display: block;
		margin-bottom: 2rem;
		font-size: 1.9rem;
		@include bold;
	}
	.price-list {
		padding: 0;
		min-height: 14rem;
		list-style: none;
		font-size: 1.6rem;
		line-height: 1.6;
		li {
			&:before {
				content: '';
				display: inline-block;
				margin-right: 1rem;
				width: 1.4rem;
				height: 1.4rem;
				background: url(../img/prices/check.svg) no-repeat center;
				background-size: 100%;
				vertical-align: middle;
			}
		}
	}
}

/* Секция с отзывами */
.feedback {
	position: relative;
	background: url(../img/feedback/font.png) no-repeat center;
	background-size: cover;
	.feedback-text {
		position: relative;
		font-style: italic;
		margin-top: 2rem;
		padding: 1rem;
		border: 2px solid #49bf15;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -2rem;
			left: 3rem;
			width: 2rem;
			height: 2rem;
			background-color: white;
			border: 2px solid #49bf15;
			border-bottom: none;
			border-top-right-radius: 100px;
		}
	}
	.feedback-prev-btn {
		&:focus {
			outline: none;
		}
		left: -2rem;
	}
	.feedback-next-btn {
		&:focus {
			outline: none;
		}
		right: -6rem;
	}
	.feedback-slider {
		padding: 5rem 6rem;
		background-color: white;
		box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
		.media {
			margin-top: 3rem;
			font-size: 1.4rem;
			h4 {
				@include bold;
			}
		}
		p {
			font-size: 1.6rem;
		}
		.feedback-slider-btn {
			z-index: 99;
			position: absolute;
			top: 50%;
			transform: translateX(-50%);
			width: 4rem;
			height: 5rem;
			background-color: #49bf15;
			border: none;
			img {
				width: 50%;
			}
		}
	}
	/* Оформление формы окна с отзывами */
	.feedback-form {
		padding: 2rem 8rem;
		margin-top: 10rem;
		text-align: center;
		background-color: white;
		h3 {
			margin-bottom: 4rem;
			@include bold;
			font-size: 2.2rem;
			font-weight: 900;
		}
	}
	.form-btn {
		max-width: 30rem;
		margin: auto;
	}
}

.hand {
	max-width: 30rem;
	position: absolute;
	bottom: 0;
    left: 0;
}

/* Секция "Схема работы" */
.scheme {
	background: url(../img/work-scheme/background-hand.png) no-repeat bottom right -10rem;
	background-size: 65rem;
	.scheme-block {
		min-height: 30rem;
		h3 {
			font-size: 2rem;
			@include bold;
		}
	}
}

/* Секция Все включено */
.all-inclusive {
	background: url(../img/all-inclusive/background.png) no-repeat center;
	background-size: cover;
	h2 {
		color: #358015;
	}
	.all-inclusive-block {
		min-height: 20rem;
		img {
			margin-right: 1rem;
		}
		h3 {
			display: inline-block;
			font-size: 1.5rem;
			@include bold;
		}
		p {
			margin-left: 6.2rem;
			margin-top: -2rem;
		}
	}
}

/* Мы развеем все опасения */

.problems {
	position: relative;
	.problems-women {
		position: absolute;
		width: 30rem;
		bottom: 0;
		left: 50%;
		margin-left: -18rem;
	}
.problems-list {
	border: 4px solid;
	padding: 2rem;
	min-height: 35rem;
	h4 {
		font-size: 2.1rem;
		
		@include bold;
	}
	ul {
		padding-left: 0;
		padding-top: 2rem;
		list-style: none;
		li {
			position: relative;
			margin-bottom: 3rem;

		}
	}
}
	.problems-list-bad {
		border-color: #989898;
		h4 {
			opacity: 0.5;
		}
		li {
			padding-left: 3.5rem;
		}
		ul li:before {
			position: absolute;
			left: 0;
			top: 50%;
			transform:translateY(-50%);
			content: '';
			background: url(../img/problems/cancel.png) no-repeat center;
			background-size: 50%;
			width: 3rem;
			height: 3rem;
		}
	}
	.problems-list-good {
		border-color: #358015;
		li {
			padding-left: 3.5rem;
		}
		ul li:before {
			position: absolute;
			left: 0;
			top: 50%;
			transform:translateY(-50%);
			content: '';
			background: url(../img/problems/checked.png) no-repeat center;
			background-size: 50%;
			width: 3rem;
			height: 3rem;

		}
	}
}

/* Материалы */

.materials {
	background: url(../img/materials/material-bg.png) no-repeat center;
	background-size: cover;
	.section-header {
		p {
			margin-top: 5rem;
		}
	}
	.features-slider {
		.features-block {
			text-align: center;
			img {
				display: block;
				margin: 0 auto;
			}
			h3 {
				@include bold;
			}
			p {
				font-size: 1.3rem;
			}
			a {
				color: #6ba253;
				border-bottom: 1px solid #6ba253;
			}
		}
	}
	.materials-offer {
		margin-top: 9rem;
		text-align: center;
	}
	a {
		color: #6ba253;
		border-bottom: 1px solid #6ba253;
	}
}

/* Посморите как мы работаем */

.excursion {
	background: url(../img/excursion/excursion-bg.png) center no-repeat;
	background-size: cover;
	.section-text {
	h2 {
		margin-bottom: 5rem;
		font-size: 3.5rem;
		font-weight: 900;
		@include bold;
		text-transform: uppercase;
		}
		p {
			font-size: 2rem;
		}
	}
	.main-form {
		height: 41rem;
		border: 1px solid #dddddd;
		text-align: center;
		padding: 5rem 5rem;
		background-color: white;
	
	 .form-header {
		font-size: 2rem;
		@include reg;
		margin-bottom: 4rem;
	} 
	
	/* Подпись под кнопкой */
	small {
		display: block;
		margin-top: 1.5rem;
		}
	}
	/* Подпись под формой со * */
	.star-text {
		margin-left: 3rem;
		margin-top: 3.8rem;
		display: inline-block;
		text-align: center;
	}
}

/* Дополнительные услуги */

.service {
	background: url(../img/service/service-bg.jpg) center no-repeat;
	background-size: cover;
	.section-header {
		color: white;
		p {
			margin-top: 5rem;
		}
	}
	.service-block {
		text-align: center;
		p {
			margin-top: 3rem;
			margin-bottom: 3rem;
			color: white;
			font-size: 2rem;
		}
		button {
			width: 14rem;
			height: 5rem;
			font-size: 1.5rem;
		}
	}
}

/* Контакты */

.contacts {
	background: url(../img/contacts/contacts-bg.png) center no-repeat;
	background-size: cover;
	h2 {
		@include bold;
	}
	p {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.contact-link {
		display: inline-block;
		color: #292929;
		border-bottom: 1px dotted #292929;
		.contact-link:hover {
			color: darken(#292929, 10%); 
		}
	}
	.main-form {
		margin-top: 2rem;
		height: 60rem;
		border: 1px solid #dddddd;
		text-align: center;
		padding: 5rem 5rem;
		background-color: white;
	
	 .form-header {
	 	margin-top: -1rem;
		font-size: 2rem;
		font-weight: 900;
		@include reg;
		margin-bottom: 4rem;
		} 
	}
	.form-textarea {
		&:focus {
			outline: none;
		}
		margin-bottom: 2rem;
		width: 100%;
		border: 1px solid #dddddd;
		border-radius: 8px;
	}
}

/* Footer */

.footer {
	padding: 4rem 0;
	h2 {
		font-size: 1.5rem;
		font-weight: 900;
	}
	.footer-work {
		margin-top: -1.2rem;
		text-align: center;
	.footer-text {
		display: inline-block;
		color: #292929;
		border-bottom: 1px dotted #292929;
	.footer-link {
		display: inline-block;
		color: #292929;
		border-bottom: 1px dotted #292929;
		.footer-link:hover {
			color: darken(#292929, 10%); 
				}
			}
		}
	}
	.developers {
		text-align: right;
		
	}
}


/* Оформление модальных окон */

.popup {
	display: none;
	@include reg;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	h4 {
		font-weight: 900;
		margin-top: -10px;
	}
	.popup-close {
		&:focus {
			outline: none;
		}
		position: absolute;
		top: -1.5rem;
		right: -2rem;
		width: 2rem;
		text-align: center;
		border: none;
		color: white;
		background-color: transparent;
		font-size: 3rem;
	}
	.popup-content {
		position: fixed;
		text-align: center;
		top: 10%;
		left: 50%;
		background-color: white;
		transform: translateX(-50%);
		padding: 3rem;
	}
	/* Поле для ввода */
	input {
		&:focus {
			outline: none;
		}
		margin: 2rem 0;
		display: block;
		border: 1px solid #dddddd;
		width: 100%;
		height: 5rem;
		padding: 1.5rem;
		border-radius: 8px;
	}
	textarea {
		&:focus {
			outline: none;
		}
		margin-bottom: 2rem;
		width: 100%;
		border: 1px solid #dddddd;
		border-radius: 8px;
	}

	/* Подписис к полям */
	.main-form-label {
		position: absolute;
		display: inline-block;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 0.5rem;
		font-weight: 500;
		font-size: 1.3rem;
		background-color: white;
		}

	/* Кнопка формы */
	.form-btn {
		display: block;
		width: 100%;
		height: 5rem;
		font-weight: 750;
		font-size: 1.5rem;
		}
}

/* Медиа-запросы */

@media (max-width: 1199px) {
	.feedback {
		.feedback-form {
			padding: 3rem 5rem;
		}
	}
	.fotorama {
		margin-bottom: 3rem;
	}
	.hand {
		display: none;
	}
		.problems {
		.problems-list {
			min-height: 40rem;
		}
	}
}

@media (max-width: 991px) {
	.main {
		background-position: top right;
	}
	.main .main-content {
		margin-top: 3rem;
	}
	.main-title  {
		text-align: center;
		padding-bottom: 3rem;
	}
	.main .star-text {
		color: white;
	}
	.prices {
		.price-button {
			text-align: center;
			padding: 2rem 0;
			margin-top: -5rem;
		}
		.prices-header-btn {
			margin-top: -1rem;
		}
	} 
	.prices-block {
		margin-top: 2rem;
	}
	.section-header_light {
		margin-bottom: 0;
	}
	.feedback-slider-btn {
				z-index: 99;}
	.feedback .feedback-slider .feedback-slider-btn .feedback-prev-btn {
			&:focus {
				outline: none;
			}
			left: -4rem;
		}
		.feedback .feedback-slider .feedback-slider-btn .feedback-next-btn {
			&:focus {
				outline: none;
			}
			right: -3rem;
		}
		.scheme {
		text-align: center;
		background-size: 55rem;
	}
	.all-inclusive {
		.all-inclusive-block {
			margin-left: 10rem;
			margin-bottom: -10rem;
		}
	}
	.problems {
		.problems-women {
			display: none;
		}
		.problems-list {
			min-width: auto;
			min-height: auto;
		}
		.problems-list-good {
			margin-top: 5rem;
		}
	}
	.excursion {
		background: url(../img/excursion/mobile-bg.png) center no-repeat;
		background-size: cover;
		.section-text {
			text-align: center;
		}
	}
	.service {
		.service-block {
			margin-bottom: 4rem;
		}
	}
	.contacts {
		background: url(../img/excursion/mobile-bg.png) center no-repeat;
		background-size: cover;
	}
	.footer {
		text-align: center;
		.footer-work {
			margin: 2rem 0;
		}
		.developers {
			text-align: center;
		}
	}
}


@media (max-width: 767px) {
	.main {
		text-align: center;
		background-position: top left;
		padding: 1rem  1rem;
	}
	.header {
		text-align: center;
	}
	.phone-link {
		font-weight: 900;
    	font-size: 1.6rem;
	}
	.main .main-content {
		margin-top: 9rem;
	}
	.main .main-content h1 {
		line-height: 4rem;
		font-size: 2.5rem;
	}
	.main .main-subtitle {
		margin-top: 0.6rem;
	}
	.main .main-form {
		margin-top: 0.2rem;
		padding: 2.5rem 2.5rem;
	}
	.main .main-form input {
		margin-right: auto;
    	margin-left: auto;
		/* width: 25rem;
		height: 5rem; */
		display: center;
	}
	.main .main-form .form-btn{
		margin-right: auto;
    	margin-left: auto;
		/* width: 25rem;
		height: 6rem; */
	}
	.main .star-text {
		display: inline-block;
		color: #292929;
		margin-top: 3.8rem;
	}
	.section-header {
		margin-top: -6rem;
		margin-bottom: 5rem;
	}
	.feedback {
		.feedback-prev-btn {
		&:focus {
			outline: none;
		}
		left: 2rem;
	}
	.feedback-next-btn {
		&:focus {
			outline: none;
		}
		right: -2rem;
	}
		.feedback-text {
     	width: 22.5rem;
	}
}
	.scheme {
		background: none;
		text-align: center;
		.scheme-block {
			min-height: 20rem;
		}
	}
	.all-inclusive {
		margin-bottom: -5rem;
	}
}